@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;
  height: 4px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #0a0a0a;
}

.primary {
  background-color: #ffffff !important;
}

.secondary {
  background-color: #B88E2F !important;
}

.medium-btn {
  width: 160px;
  height: 48px;
}